###########
#   C++   #
###########

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

###########
#   vim   #
###########

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

############################
# Organizational Structure #
############################

# Ignore the build and lib dirs
build/*
lib/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store
